<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" #errorModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="errorModalLabel">Error!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ error }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<app-settings-popup (hide)="settingsShown = false" [shown]="settingsShown" (saveSettings)="settingsSaved($event)" [existingSettings]="currentChat?.settings"/>

<app-header [(model)]="model" [models]="models" (deleteCurrentChat)="deleteCurrentChat()" style="height: 10%; max-height: 10%" (settingsClicked)="showSettings()" (modelInfo)="showModelInfo()"/>

<div class="flex-row d-flex" style="height: 90%; max-height: 90%">
  <nav class="w-25 border-end border-2">
    <app-sidebar [chats]="chats" [currentChatId]="currentChat?.id" (clicked)="sidebarClicked($event)"/>
  </nav>
  <main class="justify-content-around flex-column d-flex w-75 mw-100" style="height: 100%; max-height: 100%">
    <div style="padding-top: 20px; padding-bottom: 20px" class="flex-column d-flex h-100 w-100 mh-100 mw-100 overflow-y-auto overflow-x-hidden row-gap-2" #chatcontainer>
      <app-chat-bubble *ngFor="let block of currentChat?.messages" [type]="block.type" [content]="block.content" [source]="block.source" [attr.aria-live]="block.active"></app-chat-bubble>
    </div>
    <form style="display: flex; flex-direction: row; padding-left: 10px; padding-bottom: 10px; padding-right: 10px; justify-content: center" class="mh-25 h-25 w-100 mw-100" (ngSubmit)="ask()">
      <div style="display: flex; flex-direction: row" class="input-group">
        <textarea
          [(ngModel)]="question"
          class="form-control"
          aria-label="Prompt"
          name="question"
          (keyup.enter)="ask()"
          (keyup.control.enter)="ask()"
          placeholder="Prompt"
          tabindex="0"
          aria-description="Input field for the message to send to the currently selected model"
        ></textarea>
        <textarea
          [(ngModel)]="system"
          class="form-control"
          aria-label="System Prompt"
          name="system"
          (keyup.enter)="ask()"
          (keyup.control.enter)="ask()"
          placeholder="System Prompt"
          tabindex="0"
          aria-description="Input field to provide a system prompt for the currently selected model"
        ></textarea>
        <button
          *ngIf="!generating"
          type="button"
          style="height: 100%; width: 4vw"
          class="btn btn-secondary"
          (click)="ask()"
          (keyup.enter)="ask()"
          (keyup.space)="ask()"
          tabindex="0"
          aria-label="Ask"
          aria-description="Send the prompt and system prompt to the model"
        >Ask</button>
        <button
          *ngIf="generating"
          type="button"
          style="height: 100%; width: 4vw"
          class="btn btn-outline-secondary"
          (click)="stop(currentChat?.id)"
          (keyup.enter)="stop(currentChat?.id)"
          (keyup.space)="stop(currentChat?.id)"
          tabindex="0"
          aria-label="Stop"
          aria-description="Stop the model from answering"
        >Stop</button>
      </div>
    </form>
  </main>
</div>
